# Analytics & Tracking
NEXT_PUBLIC_GA_ID=your-ga-id

# Database Configuration (Neon Serverless Postgres)
NEON_DATABASE_URL=postgres://user:password@host.neon.tech/dbname?sslmode=require

# Admin Authentication & Commands
# To access the admin panel, enter NEXT_PUBLIC_ADMIN_LOGIN_PREFIX followed by the ADMIN_PASSWORD (separated by a space).
ADMIN_PASSWORD=your_admin_password
ADMIN_EMAIL=admin@example.com
NEXT_PUBLIC_ADMIN_LOGIN_PREFIX="/login_prefix "
NEXT_PUBLIC_ADMIN_LOGOUT_COMMAND="/logout_command"

# Email & Newsletter Delivery (Resend)
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL="newsletter@yourdomain.com"

# Scheduled Jobs & Webhooks
CRON_SECRET=your_cron_secret